
mixin m-revealer(heading, spec)
	-
		spec = Object.assign({
			h: 2,
			open: false,
		}, spec)
		var headingText = heading.replace(/`([A-z\W]+?)`/g,'<code>$1</code>');
		var id = heading.replace(/`/g,'').replace(/[\W]/g,'-').toLowerCase();
	.m-revealer(open=spec.open)&attributes(attributes)
		#{`h${spec.h}`}.m-revealer__heading
			button.m-revealer__trigger(id=id, tabindex="0", aria-expanded="false")= heading || 'No heading provided'
		//- summary: #{`h${spec.h}`}.m-revealer__heading(id=id)!= headingText || 'No heading provided'
		.m-revealer__slider
			.m-revealer__content
				+m-bodyContent
					if block
						block
					else
						p No content provided
