
mixin m-revealer(heading, spec)
	-
		spec = Object.assign({
			h: 2,
		}, spec)
		var headingText = heading.replace(/`([A-z\W]+?)`/g,'<code>$1</code>');
		var id = heading.replace(/[\W]/g,'-').toLowerCase();
	details.m-revealer&attributes(attributes)
		//- #{`h${spec.h}`}.m-revealer__heading(id=id, tabindex="0", aria-expanded="false")= heading || 'No heading provided'
		summary: #{`h${spec.h}`}.m-revealer__heading(id=id)!= headingText || 'No heading provided'
		.m-revealer__content
			+bodyContent
				if block
					block
				else
					p No content provided
